extends marketing

block title
  title 
    | Looklist &middot; Keep track of your fashion, show it off to friends, 
    | and stay connected with the brands you love!

block content
  h1 Welcome to Looklist!